*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
    margin: 10px;
}
nav{
    background-color: aquamarine;
    display: flex;
}
.tab{
    width: 200px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}
#date{
    text-align-last: right;
}
table{
    width: 100%;
    background-color: aquamarine;
}
#info{
    display: flex;
}
#capacity{
    margin: 20px;
    padding: 10px;
    width: 500px;
    border: 2px solid red;
    border-radius: 10px;
}